body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: #212529;
}

a {
  text-decoration: none !important;
}

html {
  height: -webkit-fill-available;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.chat-welcome-section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

@media (max-width: 991.98px) {
  .chat-welcome-section {
    display: none;
  }
}

.sidebar-divider {
  margin: 4px 6px;
}

.hover-dim:hover {
  opacity: .5;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}